@using HuffmanAlgorithm.Components
@layout IndexLayout
@page "/"

<PageTitle>Huffman Algorithm</PageTitle>

<div class="huffman-encoder-component-container">
    <HuffmanEncoderComponent />
</div>
<div class="huffman-upload-file-component-container">
    <HuffmanFileUploadComponent/>
</div>




 
