@using HuffmanAlgorithm.Components
@layout IndexLayout
@page "/"

<PageTitle>Huffman Algorithm</PageTitle>

<div class="huffman-data-processing-component-container">
    <HuffmanDataProcessingComponent />
</div>
<div class="huffman-upload-file-component-container">
    <HuffmanFileUploadComponent/>
</div>




 
