.huffman-data-processing-component-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
    background-color: #795757;
}


.huffman-upload-file-component-container {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    width: 100%;
    padding: 20px;
    background-color: #472e2e;
}
