@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

.loading-progress-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-size: 64px;
    font-bold;
    background-color: #795757;
    color: #ECDFCC;
}

@media only screen and (max-width: 580px) {
    .loading-progress-text {
        font-size: 42px;
    }
}

@media (min-width: 580px) and (max-width: 850px) {
    .loading-progress-text {
        font-size: 48px;
    }
}
