.huffman-encoder-component-title {
    text-align: center;
    font-size: 64px;
    color: #ECDFCC;
    cursor: default;
}


.huffman-encoder-component-textarea-container {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 0 0 20px 0;
    text-align: center;
    background-color: #795757;
}

.huffman-encoder-component-summary-container {
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #472e2e;
    width: 100%;
}


@media (max-width: 580px) {
    .huffman-encoder-component-title {
        text-align: center;
        font-size: 30px;
        color: #ECDFCC;
        cursor: default;
    }
}
