.huffman-upload-file-component-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    width: 100%;
    max-width:1200px;
}

.huffman-upload-file-component-wrapper button {
    padding: 10px 20px;
    outline: none;
    border-radius: 18px;
    font-size: 18px;
    background-color: #ECDFCC;
    border-color: #EAD8B1;
    cursor: pointer;
 }

.huffman-upload-file-component-wrapper span {
    display: block;
    max-width: 100%;
    word-wrap: break-word;
    cursor:default;
}

.huffman-upload-file-component-wrapper h4 {
    color: #ECDFCC;
    font-size: 20px;
    cursor:default;
}

input {
    display:flex;
    flex-direction:column;
    margin:10px 0;
    padding: 10px 20px;
    border-radius: 18px;
    font-size: 18px;
    background-color: #ECDFCC;
    border-color: #EAD8B1;
    cursor: pointer;
    color: #ECDFCC;
}


@media only screen and (max-width: 580px) {
    input {
        padding: 10px 10px;
        font-size: 14px;

    }

    .huffman-upload-file-component-wrapper button {
        padding: 10px 20px;
        outline: none;
        border-radius: 18px;
        font-size: 16px;
    }

    .huffman-upload-file-component-wrapper h4 {
        font-size: 18px;
    }

}


@media (min-width: 580px) and (max-width: 850px) {
    .huffman-upload-file-component-wrapper h4 {
        font-size: 18px;
    }
}


